body {
    background:linear-gradient(rgb(59,44,41), rgb(0,0,0));
    min-height: 100%;
    min-width: 100%; 
}

html {
    background-color:black;
    height:100%;
    width:100%;
    font-family:"Titillium Web", sans-serif;
}
